/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

.Header {
    text-align: center;
    background-color: #d8dbd7;
    position: fixed;
    width: 100vw;
    z-index: 5;
}

.Header-name {
    background-color: #d8dbd7;
    height: 100%;
    margin: 0;
    padding: 2vh 0;
}

a {
    color: #3f3d3e;
    text-decoration: none;
}

.Content {
    text-align: center;
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.Content-logo-holder {
    box-shadow: 0px 0px 5px black;
}

.Content-logo {
    height: 40vmin;
    pointer-events: none;
}

.Content-name {
    background-color: #d8dbd7;
    margin: -8px 0 0 0;
    padding: 10px;
    height: 5vmin;
}

.Content-link {
    color: #61dafb;
}

.Summary {
    text-align: center;
    background: #d8dbd7 no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.Experience {

}

.Contact {

}

.Footer {

}
/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
