@font-face {
	font-family: "Raleway";
	src: url("raleway.woff");
	src: url("raleway.woff2");
	src: url("raleway.eof");
	src: url("raleway.ttf");
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
